extends layout.pug

block title
  | Sophie Orta - #{project.name} Project Details

block content
  h1.page-header #{project.name} Project Details
  div.grid
    if {}.hasOwnProperty.call(project, 'img')
      a(href=project.url)
        img(
          src=`/static/res_images/projects/${project.img}_1200.png`
          srcset=`
            /static/res_images/projects/${project.img}_1200.png 1200w,
            /static/res_images/projects/${project.img}_800.png 800w,
            /static/res_images/projects/${project.img}_400.png 400w
          `
        ).project__image
